<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.landrynorris.multifactor">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="MultiFactor"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider">
            <meta-data
                    android:name="io.github.landrynorris.multifactor.Startup"
                    android:value="androidx.startup" />
        </provider>

        <activity android:name=".MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>