<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon_round"
        android:label="MultiFactor"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false">
            <meta-data
                    android:name="io.github.landrynorris.multifactor.Startup"
                    android:value="androidx.startup" />
        </provider>

        <service
            android:name="io.github.landrynorris.autofill.AutoFillService"
            android:label="MultiFactor Autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>