name: Android workflow

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run Tests
        run: bash ./gradlew test --stacktrace
  apk:
    name: Generate APK
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Write Keystore
        env:
          KEY_PROPERTIES_BASE64: ${{ secrets.KEY_PROPERTIES_BASE64 }}
          KEYFILE_BASE64: ${{ secrets.KEYFILE_BASE64 }}
        run: mkdir keystore && echo $KEY_PROPERTIES_BASE64 | base64 -d >> key.properties && 
             echo $KEYFILE_BASE64 | base64 -d >> keystore/Untitled
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build APK
        run: bash ./gradlew assembleProduction --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: mobileapp/build/outputs/apk/production/release/mobileapp-production-release.apk
